node_modules/
temp/
dist/

*.tsbuildinfo
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
